@import "tailwindcss";

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    width: 40px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}